<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <div class = "forms">
        <form method="POST" action="/movies/register" id="register-movies" enctype="multipart/form-data">
            <div id="title">
                <label for="title">Título</label>
                <input type="text" id="title" name="title">
            </div>
            <div id="awards-div">
                <label for="awards">Prêmios</label>
                <input type="text" id="awards" name="title">
            </div>
            <div id="duration-div">
                <label for="duration">Duração</label>
                <input type="text" id="duration" name="duration">
            </div>
            <div id="genre-div">
                <label for="genre">Gênero</label>
                <select name="genre_id">
                    <% for(let i = 0; i < genres.length; i++) { %>
                    <option value="<%=genres[i].id%>">
                        <%=genres[i].name%>
                    </option>
                    <% } %>
                </select>
            </div>
            <div id="release-date-div">
                <label for="release-date">Data de lançamento</label>
                <input type="text" id="release-date" name="release-date">
            </div>
            <div id="rating-div">
                <label for="rating">Nota</label>
                <input type="text" id="rating" name="rating">
            </div>
            <div id="register-button-div">
                <div id="register-button-div">
                <button id="register-movie" type="submit" title="register">
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
</body>
</html>